params {
    device = "cuda"
    run_ct_bet = true
}

if (params.run_ct_bet) {
    docker.runOptions = '--entrypoint="" --gpus all -u 0:$(id -g) --shm-size=2g --rm'
}

process {
    withName: "CT_BET"{
        cpus = 4
        memory = { task.attempt * 8.GB }
        time = { task.attempt * 30.m }
        ext.when = params.run_ct_bet
    }
}

profiles {
    use_cpu {
        docker.runOptions='--entrypoint=""'
        params.device = "cpu"
        process {
            withName: "CT_BET"{
                cpus = 10
                memory = { task.attempt * 20.GB }
                time = { task.attempt * 1.h }
                ext.when = params.run_ct_bet
            }
        }
    }
}