params {
    device = "cuda"
    run_ct_bet = true
}

process {
    withName: "CT_BET"{
        cpus = 8
        memory = { task.attempt * 10.GB }
        time = { task.attempt * 30.m }
        ext.when = params.run_ct_bet
    }
}

profiles {
    use_cpu {
        params.device = "cpu"
        process {
            withName: "CT_BET"{
                cpus = 10
                memory = { task.attempt * 20.GB }
                time = { task.attempt * 1.h }
                ext.when = params.run_ct_bet
            }
        }
    }
}