params {
    help = false
    input = false
    
    // ** Output Options ** //
    output_dir = "./results"
}

includeConfig "modules/local/qc_labels/nextflow.config"
includeConfig "modules/local/volumetry_labels/nextflow.config"
includeConfig "modules/local/merge_jsons/nextflow.config"
includeConfig "modules/local/ct_bet/nextflow.config"

process {
    publishDir = {"${params.output_dir}/$meta.id/${task.process.split(':')[-1]}"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    cache = 'lenient'
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            errorStrategy = 'retry'
            maxRetries = 1
            maxForks = 1000
        }
        executor {
            pollInterval = '180 sec'
            queueGlobalStatus = true
            queueStatInterval = '3 min'
            submitRateLimit = '100/1min'
            queueSize = 1000
        }
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u 0:$(id -g) --shm-size=2g --rm'
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    singularity {
        singularity.enabled       = true
        singularity.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        apptainer.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
}

manifest {
    name = 'VoluLabel-Flow'
    description = 'A Nextflow pipeline for labels volumetric report.'
    version = '0.1-edge'
    homePage = 'https://github.com/llgneuroresearch/Volulabel-flow.'
}